 

<article class="container__contacts__items " *ngIf="isDataLoad">

    <div class="container__contacts__head animate" >
        <button mat-button class="contact__back " (click)="CloseContactModal()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-button class="animate">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
    </div>

    <div class="container__name__contact">
        <div class="container__name__contact__picture">A</div>
        <p class="container__name__contact__name">{{dataToView.name}}</p>
    </div>

    <div class="contact__buttons">
        <button class="animate" mat-raised-button><mat-icon>message</mat-icon></button>
        <button class="animate" mat-raised-button><mat-icon>call</mat-icon></button>
        <button class="animate" mat-raised-button><mat-icon>videocam</mat-icon></button>
        <button class="animate" mat-raised-button><mat-icon>email</mat-icon></button>
    </div>



    <app-body-contact [databody]="dataToView" />
</article>


<style>

</style>