






<section class="container__contacts">

<app-contact *ngIf="isDataToViewActive"
(getBackContact)="openContacts($event)"
 [dataToView]="dataToView"/>


 <app-add-user (insertUser)="insertUserTo($event)"   />
 
   <article class="container__contacts__items" *ngIf="!isDataToViewActive">
        <!-- options -->
        <div class="container__contacts__head animate">
            <h1>Contactos</h1>
            <button mat-button  data-bs-toggle="modal" data-bs-target="#exampleModal">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
            </button>
        </div>

        <!-- input -->
        <div class="container__input__search">
            <input type="search" placeholder="Buscar" [(ngModel)]="inputValue">
        </div>
        <br>
        <!-- contacts items -->
        <div class="scroll__items" *ngIf="!isDataToViewActive">
            <app-skeleton-item *ngIf="!isLoadData"  />
            <!-- ngIf="isLoad" -->
            <div class="container__items" *ngFor="let contact of  USERS">
                
                <div class="contact animate" matRipple *ngIf="isLoadData" (click)="loadData(contact)">
                    <div class="icon__contact">{{contact.name.substring(0,1)}}</div>
                    <p class="container__item__name">{{contact.name}}</p>
                    <button  mat-icon-button >
                        <mat-icon >chevron_right</mat-icon>
                    </button>
                </div>
                
            </div>
        </div>

   </article>

   
   <app-add-user />


</section>

<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

