
<nav class="nav__notfound animate__notfound">
    <h1 class="nav__title__notfound">Recurso no encontrado</h1>
</nav>

<section class="container__notfound animate__notfound">

    <article class="article__notfound">

        <img src="/assets/notfound.png" class="article__notfound__poster" alt="not found" >

        <button (click)="pressComeBack()" class="article__notfound__button"  mat-raised-button>
            Regresando en {{counter}}
          </button>
    </article>

</section>

<style>
    
    .animate__notfound{
        animation: animate 1s linear;
    }
    .nav__notfound{
        background-color: rgba(245, 245, 245, 0.703);
        height: 60px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    @keyframes animate{
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .nav__title__notfound{
        font-size: 19px;
        margin: -8px 0 0 0 !important;
        padding: 0 !important;
        text-align: center;
        font-weight: 500;
        color: #444444cd !important;
    }
    .article__notfound{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
     
        flex-wrap: wrap;
        
    }
    .article__notfound__button{
        width: 60%;
    }
    .article__notfound__poster{
        max-width: 490px;
    }



</style>